<div class="container">
  {{#each model as |data|}}
    <h1>Welcome, {{data.name}}</h1>
  {{/each}}
  <audio autoplay>
    <source id="src1" src="../../audio/response.wav" type="audio/wav">
  </audio>
</div>